* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', system-ui, -apple-system, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 16px;

}

a {
    text-decoration: none;
    color: lightgrey;
}

button {
    cursor: pointer;
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 16px;
    font-weight: 900;
    border: 0;
    border-radius: 8px;
    padding: 8px 32px;
    line-height: 1.2;
}

.header {
    background-color: #1F2937;
    padding: 8px 200px;
}

.header-content {
    color: white;
    display: flex;
    flex-direction: column;
}

.top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.logo {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}

.signup {
    height: 220px;
    display: flex;
    margin-bottom: 100px;
}

.hero {
    flex: 1;
    margin-right: 32px;
    display: flex;
    flex-direction: column;
}

.hero-main {
    width: 400px;
    font-size: 48px;
    font-weight: 900;
}

.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-button {
    margin-top: auto;
    align-self: flex-start;
}

.placeholder {
    background-color: gray;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote {
    background-color: #E5E7EB;
}

.modal {
    background-color: #3882F6;
}

.info-header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin: 36px 0;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

.info-blocks {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.info-block {
    width: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.info-illust {
    height: 150px;
    width: 150px;
    border: 3px solid #3882F6;
    border-radius: 16px;
    margin-bottom: 8px;
}

.info-text {
    text-align: center;
}